.after {
    margin-top: 300px;
    &__menu {
        display: flex;
        justify-content: center;
    }

    &__item {
        margin-right: 15px;
        margin-left: 15px;
        width: 350px;
        align-items: center;
    }

    &__img {
        margin-left: 110px;
        margin-bottom: 32px;
    }

    &__title {
        font-family: "Public Sans";
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: $main-color;
        margin-bottom: 16px;
    }

    &__text {
        font-family: "Public Sans";
        font-size: $fs;
        line-height: 25px;
        text-align: center;
        color: #6c8294;
    }
}

@include breakpoint-down(768px) {
    .after {
        margin-top: 100px;

        &__item {
            margin-right: 5px;
            margin-left: 5px;
            width: 235px;
        }
        &__img {
            margin-left: 60px;
        }

        &__text {
            width: 223px;
        }
    }
}

@include breakpoint-down(425px) {
    .after {
        margin-top: 80px;
        &__menu {
            display: flex;
            flex-direction: column;
        }
        &__item {
            margin-bottom: 48px;
        }
        &__img {
            margin-left: 115px;
        }
        &__title {
            margin-left: 72px;
         text-align: center;
        }

        &__text {
            width: 328px;
        }
    }
}
