.header {
    position: relative;
    z-index: 1;

    &__container {
        display: flex;
        align-items: center;
        margin-top: 56px;
     }

     &__logo {
        flex-shrink: 0;
     }

     &__logo-img {
         display: block;
         margin-right: 40px;
     }

     &__btn {
         display: none;
         width: 28px;
         height: 17px;
         background: none;
         background-image: url("../img/toggler-open.svg");
         border: none;
     }  

     &__link-btn {
        display: none;
        max-width: 252px;
    }
}

.close-btn {
    width: 22px;
    height: 23px;
    background-image: url(../img/toggler-close.png);
    background-repeat: no-repeat;
    background-size: contain;
}
    

.sitenav {
    margin-right: auto;

    &__list {
        display: flex;
        list-style-type: none;
    }

        &__link {
            padding-right: 20px;
            padding-left: 20px;
            text-decoration: none;
            font-weight: bold;
            font-size: 15px;
            line-height: 18px;
            color: #36536B;
            mix-blend-mode: normal;
            opacity: 0.7; 

        &__link:hover {
            color: $main-hover-text;
        }
            
         &__link:active {
            color: $main-active-text;
        }
    }
}


@include breakpoint-down (768px) {
    .header {
        &__container {
            margin-top: 50px;
            margin-top: 20px;
         }
}
}


@include breakpoint-down (667px) {
    .header {
        &__link {
            display: none;
        }

        &__btn {
            display: block;
        }

        &__logo {
            margin-right: auto;
        }

        &__link-btn {
            display: block;
            margin-right: auto;
            margin-left: auto;
        }

    }


    .sitenav {
        display: none;
        position: absolute;
        z-index: 1;
        top: 100%;
        right: 0%;
        height: 100vh;
        background:#1B262F;
        width: 80%;

        &::before { 
            height: 5px;
            width: 100px;
        }
        

        &__list {
            padding: 32px 0;
            flex-direction: column;
            text-align: center;
        }

        &__item {
            padding-bottom: 22px;
        }

        &__link {
            text-align: center;
            color: #FBFCFE;
        }
    }

    .sitenav-open {
        display: block;
    }
}