.hero {
    &__container {
        display: flex;
    }

    &__title {
        padding-top: 165px;
        width: 545px;
        font-family: "DM Serif Display";
        font-size: 72px;
        line-height: 72px;
        color: $main-color;
    }

    &__text {
        color: #6c8294;
    }

    .link {
        margin-top: 16px;
        font-family: "Public Sans";
        font-style: normal;
        font-weight: normal;
        font-size: $fs;
        line-height: 18px;
        color: #6c8294;
        transition: 0.3s ease;

        &:hover {
            text-decoration: underline;
        }

        &:active {
            text-decoration: none;
            color: $main-color;
        }
    }

    &__input {
        margin-top: 20px;
        background-color: #fbfcfe;
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
        border-radius: 24px;
        width: 100%;
        max-width: 445px;
        padding: 16px;
        border: none;
    }
    .form {
        position: relative;
        z-index: 1;
    }

    &__link {
        position: absolute;
        z-index: 1;
        border: none;
        left: 272px;
        bottom: 0;
    }

    .img {
        position: relative;
        z-index: 1;
    }
    &__img {
        position: absolute;
        z-index: 1;
        left: 74px;
        bottom: -181px;
    }
}

@include breakpoint-down(768px) {
    .hero {
        text-align: center;
        padding: 50px;
        background-image: url("../img/tablet-hero.png");
        background-repeat: no-repeat;
        background-position: top;
        background-size: 768px;

        &__title {
            font-size: 48px;
            line-height: 56px;
            margin-top: 315px;
            text-align: center;
        }

        &__text {
            margin-left: 45px;
        }

        .link {
            margin-top: 16px;
        }

        &__input {
            margin-left: 40px;
            margin-top: 20px;
        }

        .form {
            position: relative;
            z-index: 1;
        }

        &__link {
            position: absolute;
            z-index: 1;
            border: none;
            left: 342px;
            bottom: 1px;
        }

        .img {
            display: none;
        }
        &__img {
            display: none;
        }
    }
}

@include breakpoint-down(425px) {
    .hero {
        padding: 50px;
        background-image: url("../img/mobile-hero.png");
        background-repeat: no-repeat;
        background-position: top;
        background-size: 425px;

        &__title {
            margin-left: -50px;
            margin-right: auto;
            width: 317px;
            font-size: 32px;
            line-height: 36px;
            text-align: center;
        }

        &__text {
            margin-left: -25px;
            position: relative;
            z-index: 1;

            &--link {
                position: absolute;
                z-index: 1;
                padding-bottom: 16px;
                right: -5px;
                top: 55px;
                font-size: $fs;
                line-height: 18px;
                width: 320px;
            }
        }

        &__input {
            margin-left: -75px;
            width: 317px;
        }

        .form {
            position: relative;
            z-index: 1;
        }

        &__link {
            margin-left: -45px;
            justify-content: center;
            padding-bottom: 24px;
            position: absolute;
            z-index: 1;
            top: 5px;
            left: 5px;
            max-width: 317px;
            width: 100%;
            border: none;
        }
    }
}
