.ready {
    &__container {
        margin-top: 95px;
        display: flex;
        justify-content: space-between;
    }

    &__title {
        text-align: center;
        font-family: "DM Serif Display";
        font-size: 48px;
        line-height: 56px;
        color: $main-color;
    }

    .form {
        text-align: center;
        margin-bottom: 16px;
        position: relative;
        z-index: 1;
        display: flex;
        max-width: 445px;
        width: 100%;

        &__input {
            padding-right: 180px;
            width: 100%;
            background: #fbfcfe;
            box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
            border-radius: 24px;
            border: none;
            padding: 16px 103px 14px 27px;
        }

        &__btn {
            position: absolute;
            z-index: 1;
            right: 0;
            top: 1px;
        }
    }
}

@include breakpoint-down(768px) {
    .ready {
        &__container {
            display: flex;
            flex-direction: column;
        }

        &__title {
            font-family: "DM Serif Display";
            font-size: 48px;
            line-height: 56px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 40px;
        }
    }
}

@include breakpoint-down(425px) {
    .ready {
        &__container {
            display: flex;
            flex-direction: column;
        }

        &__title {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 32px;
            font-size: 32px;
            line-height: 36px;
        }

        .form {
            display: flex;
            flex-direction: column;

            &__btn {
                margin-top: 16px;
                position: relative;
                z-index: 1;
                width: 100%;
                max-width: 361px;
            }
        }
    }
}
